@model FoodViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Food</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Food List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Food" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Food
            </a>
        </div>
    </div>
    <br/><br/>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Image
                </th>
                <th>
                    Price
                </th>
                <th>
                    Created At
                </th>
                <th>
                    Modified At
                </th>
            </tr>
        </thead>
       <tbody>
           @foreach (var food in Model.Foods)
           {
               <tr>
                   <td>@food.Name</td>
               
                    <td>@food.Image</td>
                
                    <td>@food.Price</td>
               
                   <td>@food.CreatedAt</td>
             
                    <td>@food.ModifiedAt</td>
                </tr>
            }
           
       </tbody>.
    </table>
</div>

